<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-primary">
      <h6 class="display-9 navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>